/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}


/* this code style the header backgound color, color and all the padding and position1 */
.header-text{
    background-color:white;
    padding: 15px 30px;
    height: 100px;
    color: black;
    position: relative;
    z-index: 1;
}
/* This code make the logo postion on the left side with the size of 45px */
.logo {
    float: left;
    font-size: 45px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    margin-left: 20px; /* Adjusting the margin-left */
}

/* Moving the navigation bar to the right */
.navbar {
    line-height: 40px;
    float: right; /* Change float to right */
    margin: 0 150px 0 0; /* Adjusting margin to create space on the right */
}
/* used inline- block display property to the nav bar because it is web size screen */
ul li {
    display: inline-block;
    padding: 25px;
    font-size: 20px;
}
/* used text-decoration properlty none to hidden the link style */
ul li a{
    text-decoration: none;
    color:  black;
    padding: 25px;
}
/* when the  mouse hover in the navigation this code  change the bacckground color and the color of the link */
.navbar a:hover{
    color: black;
    background-color: white;
    border-radius: 8px;
}

.about,
.team,
.contact {
    padding: 20px;
    text-align: center;
}

.team h2,
.contact h2 {
    margin-bottom: 20px;
}

.member {
    display: inline-block;
    width: 45%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.member img {
    width: 200px;
    border-radius: 50%;
}

/* Contact Section */
.contact form {
    display: inline-block;
    text-align: left;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
/* adjusting the hights  */
.contact textarea {
    height: 200px;
}
/* decorating and styling the contact button */
.contact button {
    padding: 10px 20px;
    background-color: #e58a52;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* chngr the background color when over */
.contact button:hover {
    background-color: #555;
}
/* styling the footer color and aligning it   */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
