/* css */
/* rest code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
/*  used color on the background image */
.header{
    background-image: linear-gradient( rgba(107, 97, 97, 0.788),#4e3e3e47),url(../images/Banner.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
}
/* this changes the header backgound color, color */
.header-text{
    background-color:white;
    padding: 15px 30px;
    height: 100px;
    color: black;
    position: relative;
    z-index: 1;
}
/* This code make the logo postion on the left side  */
.logo {
    float: left;
    font-size: 45px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    margin-left: 20px; 
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); } 
}

/* this style the logo part */
.logo {
    float: left;
    font-size: 45px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    margin-left: 20px; 
    animation: bounce 2s infinite; /* this is will make the animation */
}



/* Move the navigation bar to the right */
.navbar {
    line-height: 40px;
    float: right; /* Change float to right */
    margin: 0 150px 0 0; /* Adjusting margin to create space on the right */
}

/* used inline- block display property to the nav bar because it is web size screen */
ul li {
    display: inline-block;
    padding: 25px;
    font-size: 20px;
}
/* used text-decoration properlty none to hidden the link style */
ul li a{
    text-decoration: none;
    color:  black;
    padding: 25px;
}
  /* change the bacckground color and the color of the link */ 
.navbar a:hover{
    color: #CF626D;
    background-color: antiquewhite;
    border-radius: 8px;
}

h1{
    color: white;
    font-size: 3rem;
}  
/* adding animation on the paragagh */
@keyframes pop {
    0% { color: rgb(122, 247, 6); }
    50% { color: #FF5733; } /* Change to the color  */
    100% { color: rgb(239, 201, 11); }
}

#tp-p {
    color: white;
    text-align: center;
    animation: pop 2s infinite; /* Apply the animation */
}
/* this code make the heading style postion*/
.heading{
    display: inline-block;
    position:absolute;
    font-size: 30px;
    color: #CF626D;
    padding: 20px 45px 20px ;
    line-height: 80px;
    top: 35%;
    text-align: center;
    margin-left: 80px;


}

#hd-p {
    text-align: center;
    color: white;

}
/* Button styling */
button {
    width: 170px;
    height: 60px;
    border-radius: 35px;
    margin-top: 10px;
    color: white;
    font-size: medium;
    font-weight:bold;
    background-color: #FA4A0C;
    transition: width 1000ms ease-in-out;
}
.heading .btn-2 {
    background-color: transparent; 
    border: 1px solid white; 
    color: white; 
}
.heading .btn-1{
    border: 1px solid #FA4A0C;
}
button:hover {
    width: 200px;
}

.sec1 {
    text-align: center; /* Aligns the content to the center horizontally */
}

#img-top {
    display: block; 
    margin: 0 auto; /* Centers the image horizontally */
    width: 35%;
    margin-top: -180px;
}

.sec2 {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    align-items: center; /* Align items vertically in the center */
}
.img3-txt, h2, p {
    margin: 10px;
}
hr {
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;
}
#sec-h2 {
    text-align: center;
    margin: 20px;
    font-size: 2rem;
}
.img2 {
    flex: 1; 

}

.img2 img {
    width: 100%; 
/* Adjusting the image width */
    
}

.img2-txt {
    flex: 1; 
    padding: 0 20px; 
  
}
.img-t{
    color: #e95906;
    font-weight: bold;
    margin: 10px;
}
.img2-txt h2 {
    margin-top: 0; 
}
/* sec-3 */

.sec3 {
    display: flex;
    flex-direction: row-reverse; /* Arrange items horizontally */
    align-items: center; /* Align items vertically in the center */
}
#sec-3-h2 {
    text-align: center;
    margin: 20px;
}
hr {
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;
}
.img3 {
    flex: 1; /* Make the image take up available space */
}

.img3 img {
    width: 100%; /* Make the image fill its container */
}

.img3-txt {
    flex: 1; /* Make the text take up available space */
    padding: 20px;
    margin-left: 100px; 
}

.img3-txt h2 {
    margin-top: 0; 
}




/* Banner styling */
.img5 img {
    width: 100%;
}
/* footer */

/* Footer styling */
footer .sec5 {
    position: relative;
}

footer .img5 {
    position: relative;
}

footer .footer-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

footer .footer-banner h2,
footer .footer-banner p {
    color: white;
}

footer .btn1{
    width: 170px;
    height: 60px;
    border-radius: 35px;
    margin-top: 10px;
    color: white;
    font-size: medium;
    font-weight:bold;
    background-color: #FA4A0C;
    transition: width 1000ms ease-in-out;
    border: 1px solid #FA4A0C;
}

footer .btn2 {
    background-color: transparent; 
    border: 1px solid white; 
    color: white;
}
 

footer .btn1:hover,
footer .btn2:hover {
    background-color: #dddddd;
    cursor: pointer;
}


/* this is meadia query for max-size 1339 and when the screen max size 1339*/
@media screen and (max-width: 1338px){
    .logo{
        float: left;
        font-size: 40px;
        line-height: 10px;
        padding: 30px 40px 20px ;
    }
    .navbar{
        line-height: 20px;
        float: left;
        margin: 0 0 0 75px;
        
    }
    ul li {
        display: inline-block;
        padding: 25px;
        font-size: 15px;
    }
    .heading{
        display: inline-block;
        position:absolute;
        font-size: 30px;
        color: #CF626D;
        padding: 20px 45px 20px ;
        top: 40%;
        margin: 20px 10px;
        text-align: center;
    }
}
/* this is meadia query for max-size 1050*/
@media screen and (max-width: 1050px){
    .logo{
        font-size: 40px;
        line-height: 10px;
        padding: 30px 40px 20px ;
        margin: 0 0 10px 180px;
        border-bottom:  white 1px solid;
    }
    .header-text{
        height: 200px;
    }
    .navbar{
        line-height: 20px;
        float: left;
        margin: 0 0 0 180px;
        
    }    
    .heading-h1{
        font-size: 50px;
    }
}
/* this is meadia query between 650px and 927px*/
@media screen and (min-width: 650px) and (max-width: 927px){
    ul li {
        display: block;
        padding: 25px;
        font-size: 15px;
    }
    .header-text{
        height: 280px;
    }
    .logo{
        float: left;
        font-size: 30px;
        margin-left: 0%;
        border-bottom: white 1px solid;

    }
    
}
/* For screen sizes between 651px and 1050px */
@media screen and (min-width: 651px) and (max-width: 1050px) {
    /* Adjustments for the h1 */
    .heading-h1 {
        text-align: center; /* Center align the h1 */
    }

    /* Adjustments for the top image */
    #img-top {
        margin: 0; 
        width: 80%; /* Adjust width */
    }
    .sec2,
    .sec3 {
        flex-direction: column; /* Change flex direction to column */
        align-items: center; /* Center align items */
    }
}
/* this is meadia query between 310px and 649px and also this make the nav display change from inline-block to block because small screen size*/
@media screen and (min-width: 310px) and (max-width: 649px){
    ul li {
        display: block;
        padding: 25px;
        font-size: 15px;
    }
    ul li a{
        text-align: center;
    }
    .header-text{
        height: 280px;
    }
    .heading{
        text-align: center;
        margin-left: 50px;
        position: absolute;
        top: 55%;
    }
    .heading-h1{
        font-size: 40px;
        line-height: 40px;
       
    }
    .logo{
        float: left;
        font-size: 25px;
        margin-left: 20px;
        border-bottom:white 1px solid;
        max-width: 100%;
    }
    button{
        width: 150px;
        height: 40px;
    }
    button a{
      font-size: 15px;
    }
    .header{
        background-image: linear-gradient( rgba(253, 247, 247, 0.788),#d6a6a675),url(../images/Mobile-size.jpg);
        height: 100vh;
        width: 100%;
        background-size: cover;
    }
 
}
/* this is meadia query for max-size 450 and below and also this make the nav display change from inline-block to block because small screen size*/
@media screen and (max-width: 425px){
    ul li{
       padding: 15px; 
       
    }
    ul li a{
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        padding: 2px;     
    }
    a.active{
        text-decoration: underline;
    }
    .logo{
        font-size: 29px;
        line-height: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .header-text{
        height: 350px;
    }
    .heading-h1{
        font-size: 20px;
        color: #45272a;
        line-height: 50px;
        border: #45272a 5px solid;
        padding: 20px;
        margin: 0 20px 20px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
}