/* changing the color of the background */
body{
    background-color:antiquewhite;
}
.header-text{
    background-color:white;
    padding: 15px 30px;
    height: 100px;
    color: black;
    position: relative;
    z-index: 1;
}
/* This code make the logo postion on the left side with the size of 45px */
.logo {
    float: left;
    font-size: 45px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    margin-left: 20px; /* Adjusting the margin-left */
}

/* Moving the navigation bar to the right */
.navbar {
    line-height: 40px;
    float: right; 
    margin: 0 150px 0 0; 
}
/* list items */
ul li {
    display: inline-block;
    padding: 25px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color:  black;
    padding: 25px;
}

.navbar a:hover{
    color: #ff5722;
    background-color: white;
}
/* Aligning the cards */
.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    align-items: center;
}

/* styling the cards  */
article{
    background-color:rgb(249, 225, 193);
    width: 300px;
    height: 550px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgb(83, 83, 83);
    text-align: center;  
    transition: transform 0.5s;
    
}
/* Adding animation when hover over */
article:hover{
    transform: scale(1.07);

}

h1{
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color:#ff56225e;
    margin-top: 0;
   width: 100%;
}
/* Decorating the text */
.text-product > p > a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 20px;
    border: #CF626D 2px solid;
    width: 60px;
}
.text h3{
    text-transform: uppercase;
    color: black;
}
button{
    width: 50%;
    height: 45px;
    border-radius: 10px;
    background-color: #fffffffb;
    border-color: #ff56225e;
    text-transform: uppercase;
}

button a{
    font-size: 20px;
    text-decoration: none;
    color:  #ff56225e;
    font-weight: bold; 
}
button:hover{
    cursor: pointer;
}
/* Media quiry for smaller screens  */
@media screen and (max-width: 1338px){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        align-items: center;
    }
}
@media screen and (max-width: 650px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        align-items: center;
    }
    article{
        text-align: center;
    }
}
/* Media quiry for smaller screens  */
@media screen and (max-width: 440px) {
    .grid{
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 20px;
        align-items: center;
        margin: 10px;
    }
    article{
        text-align: center;
        width: 90%;
    }
    img{
        width: 100%;
    }
    article{
        height: 610px;
        margin: 20px;       
    }
    .text-product > p > a{
        text-decoration: none;
        font-size: 20px;
        color: black;
        margin: 5px;
        border: #CF626D 2px solid;
        width: 60px;
    }
}
